.habit-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .habit-table th, .habit-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    height: 33px;
    background-color: transparent; 
    color: white; 
  }
  
  .habit-table th {
    background-color: transparent;
  }
  
  .habit-table tr {
    height: 50px;
    text-align: center;
    color: white;
  }

  .habit-table tr:nth-child(even) {
    background-color: transparent;
  }
  
  .habit-table tr:hover {
    background-color: #ddd;
  }
  
  .habit-table input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 1px;
  }
  