.total-table {
    border-collapse: collapse;
    width: 100%;
}
  
  .total-table th, .total-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    width: 50px; 
    height: 33px;
    background-color: transparent; 
    color: white; 
  }
  
  .total-table th {
    background-color: transparent;
    color: white;
  }

  .total-table tr {
    height: 50px;
    color: white;
    text-align: center;
    vertical-align: middle;
  }
  
  .total-table tr:nth-child(even) {
    background-color: transparent;
  }
  
  .total-table tr:hover {
    background-color: #ddd;
  }